.archive-header {
  width: 100%;
  height: 10svh;
  margin-bottom: 2rem;
}

.archive-header  header{
    color: wheat;
    width: 100%;
    height: 100%;
    background-image: none;
    background-color: rgb(101, 93, 77);
  }

.archive-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background: rgb(255, 219, 153) linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 35rem);
  grid-template-rows: repeat(20, 40rem);
  gap: 10rem;
}

.grid-item .associated-word-circle{
    border-color: rgb(101, 93, 77);
  }
