.words-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100svh;
    background: rgb(255, 219, 153) linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    background-size: cover;
    background-position: center;
    color: black;
    font-family: 'Satoshi-Regular', sans-serif;
}

.words-container {
    background-color: rgb(101, 93, 77);
    border: 5px solid #977940;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 7.5px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 35rem;
    height: 40rem;
    border-radius: 0.5rem;
    max-width: 55rem;
    font-size: 2rem;
    transition: .5s;
}

.words-header {
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 6rem;
    border-radius: 1rem;
    background-color: #977940;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 15px;
    color: wheat;
}

.associated-word-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 24rem;
    cursor: pointer;
    overflow-y: auto;
    scrollbar-color: wheat #977940;
    color: #4f3f21;
}

.associated-word {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 0.2rem;
    position: relative;
}

.associated-word p {
    display: flex;
    justify-content: center;
    background-color: wheat;
    border-radius: 0.5rem;
    height: 1.5em;
    width: 100%;
}

.associated-word-circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #ECD7B5;
    width: 1.5em;
    height: 1.5em;
    transform: translateX(-1rem);
}

.words-about img{
    width: 35rem;
    height: 40rem;
}