@font-face {
    font-family: 'Satoshi-Medium';
    src: url('../fonts/Satoshi_Complete/Fonts/WEB/fonts//Satoshi-Medium.woff2') format('woff2'),
        url('../fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff') format('woff'),
        url('../fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

:root {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi-Medium', sans-serif;
    color: wheat;
    user-select: none;
}